# general module
Django>3.2,<3.3 

djangorestframework
djangorestframework-simplejwt


# third party module
django-filter
python-decouple
pillow
markdown
# --no-deps drf-yasg[validation]
# drf-yasg[validation]


# refactorin and testing    
black
flake8

# email config module
django-mail-templated